a {
    text-decoration: none;
    color: #ddd; 
}
a:hover {
    color: rgb(252, 238, 144);
    text-decoration: underline;
}
a:active {
    color:goldenrod;
}
article {
    grid-area: 3 / 1 / span 1 / span 2;
    border: 1px dashed white;
    
    
    font-weight: bold;
}
body {
    background-color: #0d1117;
    border: 1px dashed white;
    font-family:Arial, Helvetica, sans-serif;
    color: #ddd;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    background-image: url('./images/GHW_background1.jpg');
    background-repeat: no-repeat;
    z-index: -1;
}
footer {
    grid-area: 4 / 1 / span 1 / span 2;
    border: 1px dashed white;
}
h1 {
    text-align: center;
    display: block;
    position: relative;
    top: 100px;
    max-width: 70%;
    margin: 0 auto;
}
h2 {
    text-align: center;
    color: rgb(252, 238, 144);
    margin: 0.5rem 0;
}
header {
    grid-area: 1 / 1 / span 1 / span 2;
    border: 1px dashed white;
}

main {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template: 1fr / 256px 768px;
}
nav {
    position: relative;
    top: 0;
    font-weight: bold;
}
nav a {
    float: right;
    display: block;
    color: #ddd;
    height: 3em;
    padding: 0 10px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0.5rem 0;
}
li {
    justify-content: left;
    line-height: 1.75rem;
}
#banner {
    width: 90%;
    display: block;
    margin: 1em auto;
}
#page_container {
    display: grid;
    grid-template: 200px 1fr 1fr 100px / 100px 1fr;
    width: 1024px;
    margin: 0 auto;
}
#current {
    grid-area: 1 / 2 / 2 / 3;
    border: 1px dashed white;
}
#ghw_links {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px dashed white;
    font-weight: bold;
}
#logo {
    border-radius: 50%;
    background-color: #0d1117;
    display: block;
    float: left;
    width: 150px;
    margin: 0 auto;
}
#social {

}